/**
* ETML
* Auteur      : Alexis Rojas, David Dieperink, Stefan Petrovic
* Date        : 26.11.2021 
* Description : Feuille de style pour le site ranking téléphones
*/
:root {
	--mainBackground1-color: #fff2df;
	--mainBackground2-color: #b8b8b8;
	--mainBackground3-color: #646464;

	--navFont-color: #0d1117;
	--navBackground-color: #ede9e9;
	--navActiveBackground: #ffffff;

	--boxHeader-color: rgba(0, 0, 0, 0.03);
	--boxBackground-color: #ffffff;
	--boxBackground2-color: #ffffff;

	--text-color: #000000;
	--svgBackground-color: #000000;

	--caseActive-color: #ec490d;

	--checkmarkBorder-color: #cfcfcf;
	--checkmarkBackground-color: #eeeeee;
	--checkmarkChecked-color: #2196f3;
	--checkmarkHover-color: #cccccc;
	--checkmarkCheckedAfter-color: #ffffff;

	--sun-color: #ffde00;
	--sunshine1-color: #ffde0080;
	--sunshine2-color: #ffde0040;
	--sunshine3-color: #ffde0020;
	--sunshine4-color: #ffde0010;
	--sunshine5-color: #ffde0000;

	--moon-color: none;
	--star-color: none;
	--starShadow-color: none;
}

.dark-mode {
	--mainBackground1-color: #727272;
	--mainBackground2-color: #1f1f1f;
	--mainBackground3-color: #000000;

	--navFont-color: #fefeff;
	--navBackground-color: #090c10;
	--navActiveBackground: #21262d;

	--boxHeader-color: #000000;
	--boxBackground-color: #090c10;
	--boxBackground2-color: #111111;

	--text-color: #f0f2f8;
	--svgBackground-color: #ffffff;

	--caseActive-color: #ec490d;

	--checkmarkBorder-color: #868686;
	--checkmarkBackground-color: #474747;
	--checkmarkChecked-color: #2196f3;
	--checkmarkHover-color: #5a5a5a;
	--checkmarkCheckedAfter-color: #ffffff;

	--sun-color: none;
	--sunshine1-color: none;
	--sunshine2-color: none;
	--sunshine3-color: none;
	--sunshine4-color: none;
	--sunshine5-color: none;
	--sunshine6-color: none;

	--moon-color: #ffde00;
	--star-color: #ffffff;
	--starShadow-color: #ffffff;
}

* {
	margin: 0;
	font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
		Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
body {
	color: var(--text-color);
	background-color: var(--mainBackground1-color);
	background-image: radial-gradient(
		circle,
		var(--mainBackground1-color) 0%,
		var(--mainBackground2-color) 70%,
		var(--mainBackground3-color) 100%
	);
	background-size: cover;
	background-attachment: fixed;
	line-height: normal;
}
header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav {
	margin-top: 30px;
	top: 0;
	z-index: 3;
}
ul {
	padding: 2px;
	min-width: 214px;
}
ul,
li {
	border-radius: 20px;
	background-color: var(--navBackground-color);
}

ul li,
a {
	text-align: center;
	display: inline-block;
	margin: 0 2px;
	padding: 7px;
	text-decoration: none;
	color: var(--navFont-color);
}
.connection {
	margin-top: 30px;
	position: absolute;
	text-align: center;
	right: 250px;
}
#signUp{
	border: 3px solid var(--text-color);
	border-radius: 15px;
	padding: 8px;
}

#active {
	padding: 11px;
	border-radius: 15px;
	background-color: var(--navActiveBackground);
}
li a:hover {
	color: var(--text-color);
}

.card {
	background-color: var(--boxBackground2-color);
}

.card-header {
	background-color: var(--boxHeader-color);
}

.container {
	margin: 100px auto 0 auto;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	z-index: 2;
	justify-content: center;
}
.container-telephone {
	margin: 30px auto 0 auto;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}

.case {
	background-color: var(--boxBackground-color);
	color: var(--text-color);
	height: 265px;
	width: 265px;
	margin: 10px;
	border-radius: 20px;
	z-index: 2;
}

.caseInfo,
.caseGitHub {
	width: 550px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.caseInfo h3,
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.case ul,
.case li {
	background-color: transparent;
	display: block;
}
.case ul li {
	padding-top: 20px;
}
.case h3 {
	text-align: center;
	padding-top: 10%;
}
.case h3.title {
	padding-top: 0px;
}
.case h4 {
	text-align: center;
	margin-bottom: 3%;
}
svg {
	height: 70px;
	width: 70px;
	margin: 7px;
	padding: 7px;
	justify-content: center;
	fill: var(--svgBackground-color);
}
.case #svgLogos {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
.case a:hover {
	color: var(--caseActive-color);
}

svg.gitHubLogo {
	width: 50%;
	height: 200px;
}

.col-md-3 {
	width: 30%;
}
.col-md-9 {
	width: 70%;
}
.rowParent {
	min-width: 975.5px;
}

/* BUTTON RADIO*/
.lblContainer {
	margin-bottom: 5px;
	display: block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.lblContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	border: solid 1px var(--checkmarkBorder-color);
	position: absolute;
	top: 4px;
	left: 2px;
	height: 17px;
	width: 17px;
	background-color: var(--checkmarkBackground-color);
	border-radius: 50%;
}
.lblContainer:hover input ~ .checkmark {
	background-color: var(--checkmarkHover-color);
}
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}
.lblContainer input:checked ~ .checkmark:after {
	display: block;
}
.lblContainer input:checked ~ .checkmark {
	background-color: var(--checkmarkChecked-color);
}
.lblContainer .checkmark:after {
	top: 4px;
	left: 4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: var(--checkmarkCheckedAfter-color);
}

/* CHECKBOX */
.lblContainerCheckbox {
	display: block;
	position: relative;
	padding-left: 25px;
	padding-bottom: 5px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.lblContainerCheckbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmarkCheckbox {
	margin-top: 3px;
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: var(--checkmarkBackground-color);
	border: solid 1px var(--checkmarkBorder-color);
}

.lblContainerCheckbox:hover input ~ .checkmarkCheckbox {
	background-color: var(--checkmarkHover-color);
}

.lblContainerCheckbox input:checked ~ .checkmarkCheckbox {
	background-color: var(--checkmarkChecked-color);
}

.checkmarkCheckbox:after {
	content: '';
	position: absolute;
	display: none;
}

.lblContainerCheckbox input:checked ~ .checkmarkCheckbox:after {
	display: block;
}

.lblContainerCheckbox .checkmarkCheckbox:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 12px;
	border: solid var(--checkmarkCheckedAfter-color);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.caseDarkmode {
	display: flex;
	align-items: center;
	justify-content: center;
}

.moonShadow {
	position: absolute;
	margin: auto;
	top: 250px;
	right: 200px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	filter: blur(15px);
	box-shadow: 25px 10px 0px 0px var(--moon-color);
	animation: moonSpin 60s linear infinite;
}

.moon {
	position: absolute;
	margin: auto;
	top: 250px;
	right: 200px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 25px 10px 0px 0px var(--moon-color);
	animation: moonSpin 60s linear infinite;
}

.star {
	position: absolute;
	margin: auto;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 25px 10px 0px 0px var(--star-color);
	animation: starSpin 160s linear infinite;
}

#star1 {
	top: 240px;
	right: 440px;
}
#star2 {
	top: 270px;
	right: 170px;
}
#star3 {
	top: 210px;
	right: 100px;
}
#star4 {
	top: 100px;
	right: 270px;
}
#star5 {
	top: 10px;
	right: 170px;
}
#star6 {
	top: 210px;
	right: 270px;
}

@keyframes moonSpin {
	from {
		transform: rotate(30deg) translate(180px);
	}
	to {
		transform: rotate(0deg) translate(-1800px);
	}
}

@keyframes starSpin {
	from {
		transform: rotate(30deg) translate(110px);
	}
	to {
		transform: rotate(0deg) translate(-1800px);
	}
}

.sun {
	position: absolute;
	margin: auto;
	top: 267px;
	right: 177px;
	width: 110px;
	height: 110px;
	background-color: var(--sun-color);
	border-radius: 50%;
	box-shadow: 0 0 0 20px var(--sunshine1-color),
		0 0 0 40px var(--sunshine2-color), 0 0 0 60px var(--sunshine3-color),
		0 0 0 80px var(--sunshine4-color), 0 0 0 100px var(--sunshine5-color),
		0 0 40px 100px var(--sunshine4-color);
	animation: sunriseDeplacement 60s linear infinite,
		sunrise 2s infinite linear forwards, rays 2s 2s infinite linear;
}

@keyframes sunriseDeplacement {
	from {
		transform: rotate(30deg) translate(180px);
	}
	to {
		transform: rotate(0deg) translate(-1800px);
	}
}

@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

@keyframes rays {
	0% {
		box-shadow: 0 0 0 0 var(--sunshine1-color),
			0 0 0 20px var(--sunshine1-color), 0 0 0 40px var(--sunshine2-color),
			0 0 0 60px var(--sunshine3-color), 0 0 0 80px var(--sunshine4-color),
			0 0 40px 100px var(--sunshine4-color);
	}
	100% {
		box-shadow: 0 0 0 20px var(--sunshine1-color),
			0 0 0 40px var(--sunshine2-color), 0 0 0 60px var(--sunshine3-color),
			0 0 0 80px var(--sunshine4-color),
			0 0 0 100px var(--sunshine5-color),
			0 0 40px 100px var(--sunshine4-color);
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 44px;
}

.switch input#chBoxDarkMode {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e6e6e6;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 36px;
	width: 36px;
	left: 4px;
	bottom: 4px;
	background-color: #ffffff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input#chBoxDarkMode:checked + .slider {
	box-shadow: var(--boxShadow-color) 0px 0px 0px 2px inset;
	background-color: #21262d;
}

input#chBoxDarkMode:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input#chBoxDarkMode:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(35px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
	.container {
		width: auto;
	}
}

@media only screen and (max-width: 600px) {
	.case h3 {
		text-align: center;
		padding-top: 3%;
	}
	.case {
		width: 220px;
		height: 220px;
	}
	svg {
		height: 20%;
		width: 27%;
		margin: 7px;
		padding: 7px;
		justify-content: center;
		margin-top: 10%;
	}
	svg.gitHubLogo {
		margin-right: auto;
		margin-left: auto;
		height: 40px;
	}
	.caseGitHub ul li {
		padding-top: 0%;
	}
}
@media only screen and (max-width: 422px) {
	svg {
		height: 60px;
		width: 25%;
		margin: 7px;
		padding: 7px;
		justify-content: center;
		margin-top: 5%;
	}
}
@media only screen and (max-width: 380px) {
	svg {
		height: 60px;
		margin: 7px;
		padding: 7px;
		justify-content: center;
	}
}
@media only screen and (max-width: 350px) {
	ul {
		margin-top: -10%;
		margin-left: 5%;
	}
	svg {
		margin: 7px;
		padding: 7px;
		justify-content: center;
		height: 20%;
		width: 40%;
		margin-left: 20%;
		margin-top: -2%;
	}
}
